.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  padding: 10px;
}

.mat-raised-button {
  margin: 8px;
}

.navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-width: 150px;
  height: 100%;
}

.container{
  max-width: 1170px;
  margin: auto;
  height: 1000px;
}

.card{
  border: 1px solid #ff4081;
  padding: 40px;
  margin: 20px;
}

.navbar .active {
  color: #ff4081;
  font-weight: bold;
}