<mat-toolbar color="primary">
    <h1><a [routerLink]="['/']" [ngStyle]="{'color': '#fff', 'text-decoration': 'none'}">Angular Routing</a></h1>
    <nav class="navbar">
        <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a [routerLink]="['/posts']" routerLinkActive="active">Posts</a>
        <a [routerLink]="['/about']" routerLinkActive="active">About</a>

        <button mat-raised-button color="accent">Login</button>
        <button mat-raised-button color="accent">Logout</button>
    </nav>
</mat-toolbar>


<div class="container">
    <div class="card">
        <router-outlet></router-outlet>
    </div>
</div>